[submodule "mtn-utils"]
	path = mtn-utils
	url = git@github.com:Mark-Kovalyov/mtn-utils.git
[submodule "mtn-encoders"]
	path = mtn-encoders
	url = git@github.com:Mark-Kovalyov/mtn-encoders.git
[submodule "mtn-network"]
	path = mtn-network
	url = git@github.com:Mark-Kovalyov/mtn-network.git
[submodule "mtn-gis"]
	path = mtn-gis
	url = git@github.com:Mark-Kovalyov/mtn-gis.git
